MONGO_URI=mongodb://mongo:27017
MONGO_DB_NAME=logcenter_prod
MONGO_USER=root
MONGO_PASSWORD=changeme
DUSER=polenguinho
DPASSWORD=PO@365
SECRET_KEY=change-this-secret-key
LOG_PROJECT_MONGO_ID=6a864051a4efbe696698bb61
